<footer>
	<hr/>
		<p>Quelque chose à me dire ? Ecrivez moi à <a href="mailto:edmond92@gmail.com">edmond92@gmail.com</a></p>
		<p><img class="svglogo" src="/assets/image/linkedin.svg" onerror="this.onerror=null; this.scr='/assets/image/linkedin.png'"><a href="https://www.linkedin.com/in/edmond-de-tournadre-4146a5169/">Linkedin</a></p>
		<p><img class="svglogo" src="/assets/image/github.svg" onerror="this.onerror=null; this.scr='/assets/image/github.png'"><a href="https://github.com/Djohn12">Github</a></p>
</footer>