<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Edmond de Tournadre">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="Edmond de Tournadre, Djohn12, portfolio, blog, cv, curriculum">
    <meta name="description" content="Voilà mon site web sur lequel vous trouverez des informations sur moi et des articles sur le dev">
    <title>Djohn's static test</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>