---
---


body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 80%;
	margin: 0 auto;
	font-family: "Arial", "sans-serif";
	line-height: 1.4em;
	background-color: rgb(240, 240, 240);
}

a {
	text-decoration: none;
	color: #004C9E;
}


a:hover:not(.nav-item), a:focus:not(.nav-item) {
	text-decoration: underline;
	color: #1B5A1B;
}

ul {
	list-style: none;
	padding: 0;
}

hr {
	margin-top: 2em;
}

// ********** navbar ************

.nav {
	font-size: 1.5em;
	margin-top: 1em;
}

.nav .main-menu,
.nav > input {
  display: none;
}

.nav > label {
  display: block;
  font-size: 36px;
  position: absolute;
  right: 20px;
  width: 36px;
  padding: 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav > input:checked + .main-menu {
  display: block;
}

.nav ul li {
  margin-top: 1.6em;
}

.nav-item {
	border-radius: 50px;
  padding: 15px;
}

.nav-item:hover, .nav-item:focus {
	color: rgb(25,25, 25);
	box-shadow: 0px 0px 0px 1px #2D952D;
}

@media only screen and (min-device-width: 768px) {
  .nav .main-menu {
    display: flex;
		justify-content: space-around;
		margin-top: 0em;
  }
  .nav > label {
    display: none
  }
	hr {
		margin-top: 0;
	}
}

.current {
	border: solid 1px #2D952D;
}

.current:hover, .current:focus{
	background-color: #2D952D;
}

// ***** apply flex growth and shrink to keep footer to the bottom *****
.content {
	color: rgb(21, 21, 21);
	flex: 1 0 auto;
}

h1 {
	margin-bottom: 1.5em;
}

h3 {
	font-style: italic;
	color: #606060;
}

.row {
	display: flex;
	border-radius: 10px;
	margin-bottom: 2em;
	padding: 2em;
}

.row__img {
	max-width: 45%;
	margin-right: 2em;
}

.row__img img {
	max-width: 100%;
	border-radius: 1%;
	border: solid 2px #000000;
}

footer {
	text-align: center;
	flex-shrink: 0;
}

.svglogo {
	margin-right: 0.5em;
}

@media (max-width: 900px) {
	.row {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.row__img {
		max-width: 100%;
		margin-right: 0px;
	}

	.row__text {
		max-width: 100%;
	}
}